nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px;
    color: black;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    min-width: 300px;
    max-width: 100%;
    height: 45px;
    gap: 40px;
}
label{
    font-size: 20px;
    margin-top: 12px;
}
.iconnav{
    margin-top: 10px;
    margin-right: 20px;
}
.logo{
    font-family: 'Break';
    font-size:40px;
    margin-right: 62.5%;
}

.infos{
    font-family: "Times New Roman";
    font-size: 40px;
    text-align: center;
}
a{
    color: black;
}