body{
    background-color: #16161A;
    color:#FFFFFFFF;
}
/*Navbar de topo de página*/
.Navy{
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #16161A;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    min-width: 300px;
    max-width: 100%;
    height: 45px;
    gap: 20px;
}
.iconnav{
    margin-top: 8px;
}
.state{
    margin-right: 45px;
    margin-top: 8px;
}
.logo{
    color: #7F5AF0;
    margin-top: 0px;
    font-family: 'Break';
    font-size:40px;
    margin-right: 64.5%;
    text-shadow:
        0 0 30px rgba(77, 232, 137, 0.7),
        0 0 80px rgba(83, 189, 124, 0.7),
        0 0 50px rgba(15, 173, 74, 0.7),
        0 0 150px rgba(8, 93, 42, 0.7);
}

.infos{
    font-family: "Times New Roman";
    font-size: 40px;
    text-align: center;
}
.pesquisa{
    color: #FFFFFFFF;
    margin-top: 23px;
    margin-left: 35%;
    width: 30%;
    border-radius: 15px;
    background-color: #16161A;
    outline: 2px solid #FFFFFFFF;
}
.searchICON {
    top: 74px;
    left: 32%;
    position: absolute;
}
img{
    top: 180px ;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 65%;
}.modal{margin-bottom: 300px}
.lembrete {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 430px;
    right: 400px;
    height: 354px;
    width: 970px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.modal:hover .lembrete{
    opacity: 1;
}
.text{
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Blocos de categorias para escolhas*/
.categorias{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
}
.boxes{
    position: relative;
    top: 500px;
    right: 1%;
    width: 130px;
    height: 130px;
    background-color: orange;
}.more{
     position: relative;
     top: 520px;
     right: 5%;
}
/* fim dos blocos*/


 p{
     margin-top: 100%;
 }

button{
    margin-top: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
}
#destaque{
    color: white;
    margin-right: 3px;
    margin-top: 6px;
    height: 35px;
    width: 180px;
    font-size: 18px;
    background-color: #7F5AF0;
    border-radius: 33px;
}
.indicadores{
    position:relative;
    font-size: 40px;
    left: 46%;
    top:500px;
}
/*informações/nomes das categorias*/
.refsTXT{
    font-size: 20px;
    justify-self: flex-end;
    position: relative;
    top: 140px;
    margin-left: 30px;
}#mouse{
    margin-left: 40px;
 }.more1{
       font-size: 20px;
    position: relative;
    left: 55px;
    top: 59px;
   }
/* Fim das informações*/
a{color:black;}
/*navbar de fim de página*/
.bottom_Navy{
    margin-top:22%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    width: 100%;
    background-color: #2CB67D;
}.logoBottom{
     color: #7F5AF0;
     margin-top: 3px;
     font-family: 'Break';
     font-size:40px;
     margin-right: 56.5%;
     text-shadow:
             0 0 20px rgba(255, 255, 255, .9),
             0 0 30px rgba(255, 255, 255, .9),
             0 0 80px rgba(255, 255, 255, .9)
 }
 #Arroba{
     width:55px;
     margin-top: 10px;
     font-size: 35px;
     margin-right: 30.5%;
}

   /*Produtos Layout*/
/*Campos 1*/
.campos{
    margin-top: 430px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    gap:100px;
    text-align: center;

}  .produtos{
     position: relative;
     top: 235px;
     background-color: #ffffff;
     width: 25%;
     height: 350px;
     left: 125px;
     color: black;
    font-size: 20px;
}  .Ofer{
     font-size: 40px;
     position:relative;
     left: 40.8%;
     top: 600px;
}
/*  Campos 2 */
.Release{
       font-size: 40px;
       position:relative;
       left: 44.5%;
       top: 300px;
} #C2{
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-self: flex-start;
      gap:100px;
      text-align: center;
}
 /*Campos 3*/
.POP{
    font-size: 40px;
    position:relative;
    left: 45%;
    top: 300px;
}  #C3{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    gap:100px;
    text-align: center;
}
 /*Fim dos campos e produtos*/



 /*#insta{*/
 /*    position: relative;*/
 /*    color: mediumvioletred;*/
 /*    left: 40%;*/
 /*}*/
