body{
    background-color: black;
}
.contem{
    display: flex;
    justify-content: space-around;
    margin-right: 500px;
}
.HEAD_forms1{
    font-size: 35px;font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    left: 37%;
    bottom: 77%;
}
.HEAD_forms {
    font-size: 35px;font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    left: 57%;
    bottom: 77%;
}
.naomuda{
    color: #7F5AF0;
    font-family: 'Break';
    top: 50px;
    position: relative;
    left:46%;
    font-size: 55px;
    text-shadow:
            0 0 20px rgba(255, 255, 255, .9),
            0 0 30px rgba(255, 255, 255, .9),
            0 0 80px rgba(255, 255, 255, .9)
            /*ative para um outro efeito neon*/
            /*0 0 30px rgba(22, 233, 102, .7),*/
            /*0 0 80px rgba(22, 233, 102, .7),*/
            /*0 0 50px rgba(22, 233, 102, .7),*/
            /*0 0 150px rgba(22, 233, 102, .7);*/



    /*text-shadow:*/
    /*    rgba(255, 255, 255, 0.84) 0 4px 8px,*/
    /*    rgba(255,255,255) 0 0 24px,*/
    /*        0 0 21px #fff,*/
    /*    rgba(53, 231, 22, 0.35) 0 0 42px,*/
    /*    rgba(51, 245, 17, 0.45) 0 13px 72px,*/
    /*    rgba(45, 211, 16, 0.79) 0 9px 92px,*/
    /*    rgba(132, 243, 113, 0.62) 9px 10px 132px,*/
    /*    rgb(128, 241, 112) 40px 12px 110px;*/
}

label{
    left: 54.7%;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 25px;
    color: white;
    position: absolute;
}
.L_login{
     left: 32.3%;
 }
.L_Cad{
    left: 54.7%;
}
input{
    text-align:center ;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    outline: 1px solid white;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 60px;
    width: 320px;
    height: 23px;
}
button{
    margin-top:30px ;
    margin-left:50px;
    display: inline-block;
    color:rgb(251, 255, 252);
    background: linear-gradient(90deg, rgba(180,108,241,1) 0%, rgba(163,78,236,1) 49%, rgba(98,6,149,1) 100%);
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 6px 15px;
    font-size: 15px;
    border-spacing: 3px;
    cursor:pointer;
}
.L{
    margin-top: 120px;
    padding: 50px;
}
.C{
    margin-top: 120px;
    padding: 50px;
}
.nL{
    float: left;
    margin-left: 545px;
}
.nC{
    float: right;
    margin-right:200px;
}
.retangulo{
    border-radius: 10px;
    position: absolute;
    width: 7px;
    height: 800px;
    left: 980px;
    top:160px;
    background: #7F5AF0;
}
fieldset{
    outline-color: black;
}
input:hover, input:focus, input:valid {
    border: none;
    outline-color: #7F5AF0;
/*    border-color: #7F5AF0;
    box-shadow: 0 0 10px #7F5AF0;*/
}
button:hover{
        box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,
        rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset,
        rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
        rgba(255, 255, 255, 0.06) 0px 2px 1px,
        rgba(255, 255, 255, 0.09) 0px 4px 2px,
        rgba(255, 255, 255, 0.09) 0px 8px 4px,
        rgba(255, 255, 255, 0.09) 0px 16px 8px,
        rgba(255, 255, 255, 0.09) 0px 32px 16px;


}